<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applications.doc.electronicse_module">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainLesson1" />
        <activity
            android:name=".Subject1"
            android:label="@string/btn_subject1" />
        <activity
            android:name=".Subject2"
            android:label="@string/btn_subject2" />
        <activity android:name=".PrePostTest" />
        <activity android:name=".MainLesson2"></activity>
    </application>

</manifest>